.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
}

.left-group {
  display: flex;
  gap: 8px;
}

.expire-input-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
