<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deveagles.be15_deveagles_be.features.membership.query.mapper.CustomerMembershipMapper">

    <select id="findUsableSessionPassesByCustomerId"
            resultType="com.deveagles.be15_deveagles_be.features.membership.query.dto.response.CustomerSessionPassReponse">
        SELECT
            csp.customer_session_pass_id AS customerSessionPassId,
            csp.remaining_count AS remainingCount,
            (COALESCE(sp.session, 0) + COALESCE(sp.bonus, 0)) AS totalCount,
            sp.secondary_item_id AS secondaryItemId,
            sp.session_pass_name AS sessionPassName,
            csp.expiration_date AS expirationDate
        FROM customer_session_pass csp
                 JOIN session_pass sp ON csp.session_pass_id = sp.session_pass_id
        WHERE csp.customer_id = #{customerId}
          AND csp.remaining_count > 0
          AND csp.expiration_date >= CURRENT_DATE
          AND csp.deleted_at IS NULL
    </select>

</mapper>